doctype html
html(class='no-js',lang='en')
  head
    title !{ title }
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet',href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel="stylesheet", href='/css/app.css',type='text/css')
  body !{content}
    script(src='/lib/soundmanager2.js')
    script(src='/scripts/react/bundle.js')